{% extends 'base.html' %}

{% block content %}
<div class="panel form-panel">
    <h3>{{ title }}</h3>
    <form method="post" enctype="multipart/form-data" class="row g-3">{% csrf_token %}
        {% for field in form %}
        <div class="col-md-6">
            <label class="form-label">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}<div class="text-danger small">{{ field.errors|striptags }}</div>{% endif %}
        </div>
        {% endfor %}
        <div class="col-12">
            <button class="btn btn-primary-modern" type="submit"><i class="fa-regular fa-floppy-disk"></i>Save Category</button>
            <a href="{% url 'products:category_list' %}" class="btn btn-outline-modern">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
